*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

thead th{
    padding: 20px;
    background-color: green;
}

tbody tr td{
    padding: 20px;
    background-color: rgb(237, 231, 231);
}

img{
    height: 140px;
    width: 140px;
}
